/* App.css */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: transparent;
  box-shadow:none;
}

.header-title {
  margin: 0;
  font-size: 2em;
}

.header-title a {
  color: blue;
  text-decoration: none;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the navigation links 
}

.header-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.header-nav ul li {
  margin: 0 10px;
}

.header-nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 1em;
}*/

.hamburger {
  cursor: pointer;
  font-size: 2em;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 250px;
  background-color: #f8f8f8;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  transform: translateX(100%);
  transition: transform 0.3s ease;
}

.sidebar.active {
  transform: translateX(0);
}

.sidebar ul {
  list-style: none;
  padding: 20px;
}

.sidebar ul li {
  margin: 20px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
  font-size: 1.2em;
}

/* Additional styles for Home component */
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  text-align: center;
}

.home-title {
  font-size: 3em;
  color: blue;
  margin-top: 50px;
}

/* Other existing styles */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
  margin-top: 60px;
}

.form-container form {
  margin-top: 20px;
}

.form-container label {
  display: block;
  margin-bottom: 8px;
}

.form-container input[type="email"],
.form-container input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-container button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #0056b3;
}

.form-container a {
  display: block;
  text-align: center;
  margin-top: 16px;
  color: #007bff;
}

.form-container a:hover {
  text-decoration: underline;
}

.form-container button.back-btn {
  margin-top: 20px;
}
}