/* src/Home.css */
.home {
  padding: 20px;
}

.home-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Use auto-fill to create flexible grid items */
  gap: 10px;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.clickable-tab {
  cursor: pointer;
}

.clickable-tab:hover {
  background-color: #e0e0e0;
}
