.filtered-results-page {
  background-image: url('../assets/bkg1.jpg');
  /* Adjust the path */
  background-size: cover;
  background-position: center;
  min-height: 100vh;

  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #333;
}

.filtered-results-page-title {
  font-size: 30px;
  background: #000000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 20px;
  margin-top: 100px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}



.grid-item {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  height: 200px;
  /* Fixed height for grid items */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  /* Prevents content from spilling out */
  position: relative;
  /* Ensures the child elements are constrained within the grid item */
  padding-bottom: 20px;
  /* Padding at the bottom to prevent text from reaching the edge */
}

.grid-item:hover {
  transform: translateY(-5px);
}

.grid-item-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.grid-item-content {
  font-size: 14px;
  color: #555;
  height: 120px;
  /* Set a max height for the content */
  line-height: 1.5;
  /* Adjust line height */
  overflow: hidden;
  /* Ensures content does not overflow */
  text-overflow: ellipsis;
  /* Adds ellipsis (...) if the text is too long */
  padding: 0 5px;
  /* Padding from the sides to prevent text from touching borders */
  display: -webkit-box;
  line-clamp: 4;
  -webkit-line-clamp: 4;
  /* Limit to 4 lines */
  -webkit-box-orient: vertical;
}

.loading-indicator {
  text-align: center;
  padding: 20px;
  font-size: 18px;
  color: #333;
}