/* Header Styles */
.header {
  position: fixed; /* Makes the header stick to the top */
  top: 0; /* Position it at the very top */
  width: 100%; /* Make sure it stretches across the page */
  background-color: #fff; /* Set background color */
  z-index: 1000; /* Ensures the header stays above other elements */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Adds a shadow effect */
  padding: 10px 20px; /* Adjust padding as needed */
}

.header-container {
  display: flex;
  justify-content: space-between; /* Ensure the content is spread out */
  align-items: center;
  max-width: 1200px; /* Limit the maximum width */
  margin: 0 auto; /* Center the header */
  padding: 0 20px; /* Add padding on the sides */
  width: 100%;
}

.header-logo {
  height: 100px; /* Fixed height */
  width: auto; /* Maintain aspect ratio */
}


/* Logo */
.header-title a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

/* .header-logo {
  height: 80px; /* Adjust height for the logo to reduce size 
  margin-right: 10px;
} */

/* Navigation */
.header-nav {
  display: flex;
  align-items: center;
}

.header-tab {
  margin-left: 10px;
  padding: 10px 20px;
  color: blue;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.header-tab:hover {
  color: darkblue;
  border-bottom: 2px solid darkblue; /* Visual feedback with underline */
}

/* Search bar wrapper */
.search-bar-wrapper {
  position: relative;
}

.search-bar {
  width: 400px;
  padding: 10px;
  margin-right: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
}

/* Suggestions dropdown */
.suggestions-dropdown {
  background-color: white;
  border: 1px solid black;
  position: absolute;
  top: 100%; /* Position directly below the search bar */
  left: 0;
  right: 0;
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;
  width: 400px;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

.suggestion-item:hover {
  background-color: lightgray;
}

/* Responsive design */
@media (max-width: 768px) {
  .header-logo {
    height: 60px; /* Make the logo smaller on mobile */
  }
  .header-tab {
    font-size: 14px;
  }
  .search-bar {
    width: 300px;
  }
}

/* Profile section */
.profile-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #3d9bc6;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  margin-left: 20px;
  transition: background-color 0.3s ease;
}

.profile-icon {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.profile-initials {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.profile-circle:hover {
  background-color: #217ca6;
}
