.notconnected-page {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }

.unauthenticated-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    text-align: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .unauthenticated-message h2 {
    font-size: 1.8rem;
    color: #104d8e;
    margin-bottom: 10px;
  }
  
  .unauthenticated-message p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 20px;
  }
  
  .login-button {
    background-color: #3d9bc6;
    color: white;
    padding: 12px 24px;
    font-size: 1.2rem;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover {
    background-color: #217ca6;
  }